.home-page {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: auto;
}

.home-page-nav-bar {
    width: 1000px;
}

.home-ipl {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 20px rgba(5, 5, 5, 0.1);
}

.home-ipl-about{
    width: 940px;
    margin-top: 20px;
}

.home-first-tile {
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    width: 940px;
}