.FooterComponent {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: last baseline;
    align-items: baseline;
    padding: 1em;
    margin-top: 2em;
    background-color: rgb(44, 32, 78);
    color: #fff;
}